.navbar{
    background-color: #163760;
    
 
  
}

.bg-btn{
background-color: #233d7b;
border: 1px solid #233d7b;
border-radius: 5px;
padding: 10px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 10px;
}
.title{
text-align: center;
margin: 40px;
}
.row{
    width: 80%;
    margin: 50px;
}
.flex1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fafafa;
    padding: 30px;
position: relative;
   
}.flex1 ul li{
list-style: none;
}
.text {
    text-align: center;
}
.copy{text-align: center;
    padding: 10px;

}
.row{
    box-shadow: 5px 0px 10px #888888;
    
    border-radius: 5px;
  
}
.margin{
    margin-left: 90px;
    margin-top: 40px;

}
.column{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px;
}
.one{
    display: flex;
    flex-wrap: wrap;
   
}
.cards{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding:10px;
}
.heart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}